header .flex-grow {
  justify-content: center;
  margin-right: 8%; }

header .navbar-border {
  border-bottom: 1px solid black; }

.names-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.price-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold; }

.product-t p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 2rem; }

.ContactoAshei {
  display: flex;
  justify-content: center; }

h4 {
  display: flex;
  justify-content: center; }

.ContactoP {
  display: flex;
  justify-content: center; }

.main-footer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .main-footer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d1b89d;
    background-color: #cfbca8;
    width: 100%;
    padding: 1rem;
    list-style: none;
    gap: 2rem;
    margin-bottom: 0; }
    .main-footer .footer p {
      font-size: 1.3rem;
      color: black;
      margin-top: 15px; }
    .main-footer .footer i {
      font-size: 2.5rem;
      color: black; }

/* VARIABLES */
body {
  position: relative;
  padding-bottom: 10rem; }

.body-color {
  background-color: beige; }
