header {
  height: 15%; }
  header .flex-grow {
    justify-content: center;
    margin-right: 8%; }
  header .navbar-border {
    border-bottom: 1px solid black; }

.names-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.price-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold; }

.product-t p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 2rem; }

.grid-container {
  margin-top: 3%;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem 1rem; }
  .grid-container img {
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover; }
  .grid-container .grid-item:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in-out; }
  .grid-container p {
    margin-top: 0;
    margin-bottom: 0; }

.ContactoAshei {
  display: flex;
  justify-content: center; }

h4 {
  display: flex;
  justify-content: center; }

.ServicioCliente {
  font-size: 20px;
  display: flex;
  justify-content: center; }

.ContactoP {
  display: flex;
  justify-content: center; }

.ContactoInfo {
  margin-bottom: 22%; }

.megacontainer p {
  text-align: center; }

.main-footer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 0;
  bottom: 0%;
  width: 100%;
  position: relative;
  height: 15%; }
  .main-footer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid goldenrod;
    background-color: #ffbe00;
    width: 100%;
    padding: 1rem;
    list-style: none;
    gap: 2rem;
    margin-bottom: 0; }
    .main-footer .footer p {
      font-size: 1.3rem;
      color: black;
      margin-top: 15px; }
    .main-footer .footer i {
      font-size: 2.5rem;
      color: black; }

.faqsection p {
  text-align: center; }

.NosotrosInfo p {
  text-align: center; }

/* VARIABLES */
html {
  block-size: 100%; }

.megacontainer {
  min-height: 65vh; }

body {
  min-block-size: 100%; }

.body-color {
  background-color: #181818; }

.body-image {
  background-image: url(../Multimedia/Imagenes/fondo-b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-color: #181818; }

.nav-item {
  font-family: 'Praktika Rounded';
  font-size: 1.25rem;
  font-weight: 300; }

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    column-gap: 0; } }

@media (max-width: 576px) {
  .row {
    grid-template-columns: 1fr;
    column-gap: 0; } }

@media (max-width: 820px) {
  .row {
    grid-template-columns: 3fr;
    column-gap: 0; } }
