@import "components/header";
@import "components/productos";
@import "components/contacto";
@import "components/footer";
@import "components/faqs";


/* VARIABLES */
$color-principal: beige;

body {
    position: relative;
}

.body-color {
    background-color: $color-principal;
}
