.flex-grow {
    justify-content: center;
    margin-right: 8%;
}


.product-t p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
}

.names-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.price-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold
}

.body-color {
    background-color: beige;
}


.navbar-border {
    border-bottom: 1px solid black;
}

.ContactoAshei {
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: center;
}

.ContactoP {
    display: flex;
    justify-content: center;
}