@import "base/extends";
@import "base/mixins";

.product-t {
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        font-size: 2rem;
    }
}

.names-burger {
  @extend %namesburger;
}

.price-burger {
  @extend %priceburger
}
