@import "base/extends";
@import "base/mixins";

.product-t {
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
  }
}

.names-burger {
  @extend %namesburger;
}

.price-burger {
  @extend %priceburger
}

/* 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 2rem 1rem;

  grid-template-columns: 1fr;

  // @media (min-width: 576px) {
  //   grid-template-columns: 1fr;
  // }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr)
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  img {
    width: 300px;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .grid-item:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

}